
{{!-- IN CASE OF SUCCESS
      --------------------------------------------- --}}
{{!-- Adding "Modules" --}}
{{#equal success_msg 'Modules have been added successfully.' }}
<div id="cardModulesSelection" class="alert alert-success mt-3 mb-0 mx-4">{{success_msg}}</div>
{{/equal}}

{{!-- Deleting "Modules" --}}
{{#equal success_msg 'Modules have been deleted successfully.' }}
<div id="cardModulesSelection" class="alert alert-success mt-3 mb-0 mx-4">{{success_msg}}</div>
{{/equal}}