
{{!-- IN CASE OF SUCCESS ADDING "MODULES"
      --------------------------------------------- --}}
{{#equal success_msg 'Modules have been added successfully.' }}
<div id="cardModulesSelection" class="alert alert-success mt-3 mb-0 mx-4">{{success_msg}}</div>
{{/equal}}