<div class="container margin-y--big">
  <div class="card col-12 col-md-9 col-lg-7 col-xl-6 m-auto">
    <div class="card-header bg-white">
      <h3 class="mb-0 py-2 font--xs font--sm">Create an Account</h3>
    </div>
    <div class="card-body">
      {{> _errors}}
      {{> _msg}}
      <form action="/users/signup" method="post" id="signUpForm" class="py-2">
        {{!-- Full Name --}}
        <div class="input-group input-group--white mb-3">
          <div class="input-group-prepend">
            <span id="addonFullName" class="input-group-text">
              <i class="fas fa-user"></i>
            </span>
          </div>
          <input type="text" id="fullName" class="form-control form-control-lg" name="fullName" placeholder="Full Name"
            maxlength="64" aria-label="Full Name" aria-describedby="addonFullName" value="{{fullName}}" required />
        </div>
        {{!-- Email --}}
        <div class="input-group input-group--white mb-3">
          <div class="input-group-prepend">
            <span id="addonEmail" class="input-group-text">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
          <input type="email" id="email" class="form-control form-control-lg" name="email" placeholder="Email"
            maxlength="64" minlength="7" aria-label="Email" aria-describedby="addonEmail" value="{{email}}" required />
        </div>
        {{!-- Password --}}
        <div class="input-group input-group--white mb-3">
          <div class="input-group-prepend password-icon">
            <span id="addonPassword1" class="input-group-text">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <input type="password" id="password1" class="form-control form-control-lg" name="password1"
            placeholder="Password" maxlength="64" minlength="6" aria-label="Password" aria-describedby="addonPassword1"
            value="{{password1}}" required />
        </div>
        {{!-- Confirm Password --}}
        <div class="input-group input-group--white mb-3">
          <div class="input-group-prepend password-icon">
            <span id="addonPassword2" class="input-group-text">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <input type="password" id="password2" class="form-control form-control-lg" name="password2"
            placeholder="Confirm Password" maxlength="64" minlength="6" aria-label="Confirm Password"
            aria-describedby="addonPassword2" value="{{password2}}" required />
        </div>
        {{!-- Type of User (Faculty or Student) --}}
        <div class="form-group d-flex flex-column flex-sm-row justify-content-between col-10 mx-auto py-2">
          <div class="custom-control custom-radio custom-control-inline mb-2 mb-sm-0">
            <input type="radio" id="facultyMember" class="custom-control-input" name="userType" value="facultyMember"
              required>
            <label for="facultyMember" class="custom-control-label">As Faculty Member</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="student" class="custom-control-input" name="userType" value="student">
            <label for="student" class="custom-control-label">As Student</label>
          </div>
        </div>
        {{!-- <a href="faculty-profile.html" class="form-control btn btn-block btn-lg btn-primary mb-3">Sign Up</a> --}}
        {{!-- Sign Up --}}
        <button type="submit" class="form-control btn btn-block btn-lg btn-primary mb-3">
          Sign Up
        </button>
      </form>
    </div>
  </div>
</div>